# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Root directory
server.js
.env




# Functions
functions/node_modules/
functions/ui-debug.log

# Firebase
fb/firebase_key.json
fb/firebaseConfig.mjs
fb/validationUtils.mjs
fb/dbUtils.mjs
# Debug
firestore-debug.log
ui-debug.log

