# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
package-lock.json

#Env
.env

#Functions
functions/node_modules/
functions/package-lock.json

#Firebase
firebase/firebase_key.json